<!-- views/about.ejs -->
<%- include("encabezado") %>

<body>
  <div class="all-content">
    <!-- navbar -->
    <%- include("navbar") %>
    <!-- navbar -->

    <!-- seccion principal -->
    <section id="home">
      <div class="content">
        <h3>CALCULADORA MULTIFUNCIONAL <br> DE FIGURAS GEOMETRICAS </h3>
        <a href="/calculadora">
          <button id="btn">Calcular ahora</button>
        </a>
      </div>
    </section>
    <!-- seccion principal -->

    <!-- acerca de la seccion -->
    <div class="about" id="about">
      <div class="container">
        <div class="heading"><h1>Sobre<span> Nosotros</span></h1></div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <img src="/images/about.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <h3>¿Cuál es nuestro objetivo en MathCode?</h3>
            <p>Atender a las necesides de los alumnos en relación a las dificultades y adversidades que experimentan al 
              momento de calcular un proceso matemático concreto de índole geométrico, es esencial y propio de nuestra 
              marca como empresa, por lo que nuestro público objetivo son personas que están dentro del ámbito educativo 
              ya sean profesores o alumnos. 
              <br><br> Nuestra calculadora de cálculo de áreas para figuras geométricas se enfoca en simplicidad,
               precisión  y rentabilidad, cuyo funcionamiento y estructura proporciona a los usuarios una herramienta eficaz 
               y fácil de usar para determinar áreas geometricas con rapidez.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- sobre la seccion -->

    <!-- nuestra galeria -->
    <div class="container" id="gallary">
      <h1>Nuestra <span>Galería</span></h1>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/image1.png" alt="">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/image2.png" alt="">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/image3.png" alt="">
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/image4.png" alt="">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/image5.png" alt="">
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <img src="/images/image6.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- nuestra galeria -->

    <!-- contacto -->
    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="heading6">Contactate con <span>Nosotros</span></div>
            <p>Si tienes alguna duda sobre nuestro objetivo, nuestras politicas o alguna sugerencia que quieras enviarnos.
              <br>No dudes en ponerte en contacto con nosotros.
            </p>
            <input class="form-control" type="text" placeholder="Nombre" aria-label="default input example"><br>
            <input class="form-control" type="email" placeholder="Email" aria-label="default input example"><br>
            <input class="form-control" type="number" placeholder="Numero" aria-label="default input example"><br>
            <button id="contact-btn">Enviar datos</button>
          </div>
          <div class="col-md-5" id="col">
            <h1>Información</h1>
            <p><i class="fa-regular fa-envelope"></i> clientsupport@mathcode.mx</p>
            <p><i class="fa-solid fa-phone"></i> +52 477 5567 9212</p>
            <p><i class="fa-solid fa-building-columns"></i> SEDE: Mexico, Nuevo Leon, Colonia Chapitos #21</p>
            <p>Por debajo de las oficinas del banco. Dirigerse hacia el fondo.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- contacto -->

    <!-- pie -->
    <%- include("pie") %>
    <!-- pie -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="/public/js/script.js" ></script>
  <script src="/public/js/data.js" ></script>
  <script src="/public/js/carro.js" ></script>
</body>
</html>
