<!-- views/pie.ejs -->
<footer id="footer">
  <div class="footer-logo text-center">
    <img src="/images/logo.png" alt="Logo">
  </div>
  <div class="social-links text-center">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-pinterest-p"></i>
  </div>
  <div class="credit text-center">
    Diseñado por <a href="#">MathCode</a>
  </div>
  <div class="copyright text-center">
    &copy; Copyright <strong><span>Calculadora Multifuncional</span></strong>. Todos los derechos reservados
  </div>
</footer>
<!-- pie -->

<a href="#" class="arrow"><i><img src="/images/up-arrow.png" alt="Flecha hacia arriba" width="50px"></i></a>
