<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea una cuenta</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <$- include("navbar" %)>
    <div>
    <form class="form-container">
        <p class="title">Inicia sesión </p>
        <p class="message">Inicia sesión gratis. </p>
            <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nombre </span>
            </label>
    
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Apellidos</span>
            </label>
        </div>  
                
        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Correo electronico</span>
        </label> 
            
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Contraseña</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirma tu Contraseña</span>
        </label>
        <button class="submit">Submit</button>
        <p class="signin">Ya tienes una cuenta ? <a href="/login.ejs">Inicia sesión ahora</a> </p>
    </form>
</div>
<%- include("pie") %>
</body>
</html>